.home-container {
  font-family: 'Cairo', sans-serif;
  direction: rtl;
  text-align: right;
}

.hero-section {
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  color: white;
}


.logo {
  width: 120px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
}

.hero-content {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  max-width: 500px;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: bold;
}

.hero-content p {
  font-size: 20px;
  margin-bottom: 30px;
}

.cta-btn {
  background-color: #F4A261;
  border: none;
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 30px;
  color: white;
}

.cta-btn:hover {
  background-color: #e08948;
}
