
.home-container {
     display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 font-family: "Aref Ruqaa", serif;
  direction: rtl;
  text-align: right;
  font-size: 50px;
}


.hero-content {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  max-width: 500px;
  
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: bold;
    color: #4A2C2A;
}

.hero-content h4 {
  font-size: 20px;
  margin-bottom: 30px;
     color: #4A2C2A;
     font-size: 25px;

}

.cta-btn {
  background-color: #D9A321;
  border: none;
  font-size: 25px;
  padding: 10px 30px;
  border-radius: 30px;
  color: white;
}

.cta-btn:hover {
  background-color: #b68717;
}
